.container-favorites-musics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.text-musics-favorites {
    margin: 120px 0 25px 0;
    font-size: 24px;
}

.container-musics-album {
    align-self: center;
}

.img-60 {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-right: 60px;
}

.album-section hr {
    /* width: 900px; */
}

.music-name {
    /* margin-right: 30px; */
}
