.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023031;
}

.header-container img {
    width: 117px;
    height: 96px;
    margin: 0 0 20px 3%;
}

.user-container {
    display: flex;
    background-color: #FFFFFF;
    margin-right: 3%;
    width: 198.7px;
    height: 31.65px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.user-container img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 1px 5px 0 5px;
}

.user-container p {
    align-self: center;
    width: 140px;
    text-align: center;
}

.links-container {
    display: flex;
    justify-content: space-around;
    height: 78px;
    background-color: #F0F2F5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.links-div {
    display: flex;
    width: 100%;
}

.links-div .link {
    font-size: 28px;
    font-weight: 700;
    align-self: center;
    line-height: 29px;
    margin: auto;
    text-decoration: none;
}

/* Search */

.links-div-search-1 {
    background-color: #036B52;
}

.link-search-1 {
    color: white;
}

.links-div-search-2 {
    border-right: 3px rgb(255, 255, 255) solid;
}

.links-div-search-2, .links-div-search-3 {
    background-color: #F0F2F5;
}

.link-search-2, .link-search-3 {
    color: #2FC18C;
}

/* Favorites */

.links-div-favorites-2 {
    background-color: #036B52;
}

.links-div-favorites-1 {
    border-right: 3px rgb(255, 255, 255) solid;
}

.link-favorites-1, .link-favorites-3 {
    color: #023031;
}

.link-favorites-2 {
    color: white;
}

/* Album */

.links-div-album-1 {
    background-color: #036B52;
}

.links-div-album-2 {
    border-right: 3px rgb(255, 255, 255) solid;
}

.link-album-2, .link-album-3 {
    color: #023031;
}

.link-album-1 {
    color: white;
}

/* Profile */

.links-div-profile-3 {
    background-color: #036B52;
}

.links-div-profile-2 {
    border-right: 3px rgb(255, 255, 255) solid;
}

.link-profile-1, .link-profile-2 {
    color: #023031;
}

.link-profile-3 {
    color: white;
}
