.loading-small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.loading-small .loading-small-text {
    font-size: 40px;
    line-height: 65px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #023031;    
}
